body {
    background-color: #eee;
}

a {
	text-decoration: none;
}

a.btnAcao {
	text-decoration: none;
	padding: 5px;
	display: block;
}

.msg {
	display: block;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
}

main.content {
width: 100vw;
height: auto;
}

.bloco-btn {
	background-color: #000;
	padding: 10px;
}

.btn-whatsapp {
	font-size: 20px;
	position: fixed;
	padding-left: 0 5px; 
	top: 50px; 
	left:10px;
}

.btn-telegram {
	font-size: 20px;
	position: fixed;
	padding-left: 0 5px; 
	top: 90px; 
	left: 10px;
}

.btn-deletar {
	font-size: 20px;
	position: fixed;
	padding-left: 0 5px; 
	top: 10px; 
	left: 10px;
}

.btn_msg {
	font-size: 20px;
	position: fixed;
	padding-left: 0 5px; 
	top: 130px; 
	left: 10px;
	z-index: 5;
}

.exibir {
	display: block;
}

.ocultar {
	display: none;
}

div.msg_conteudo {
	background-color: rgba(0,0,0,0.5);
	width: 100vw;
	height: 50vh;
	padding: 20px;
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 2;
	display: none;
}

@media (min-width: 1025px) {
main.content {
width: 960px;
margin: 0 auto;
}
}

@media (min-width: 480px) {
	div.container {
		padding: 0 20px;
	}
}
